
{% extends "Ecommerce/base.html" %}

{% block content %}

<div class="sub-container">
    <h1>Forgot Password</h1>
    <form method="post" id="forgotPasswordForm">
        <div class="form-group"> 
            <p class="email-para">
                Enter your account email.
            </p>
            {% csrf_token %}
            {{ form.as_p }}                
            <button type="submit" class="btn">Reset Password</button>            
        </div>
    </form>
</div>
    
{% endblock %}
