

{% load static %}
<title>Password Change successfully</title>
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}" />
<div class="sub-container">
    <form method="post">    
        <div class="form-group">
            <img src="/media/ticklogo.png" alt="Success Image">
            <h4>Password Change successfully</h4>
            <p class="email-para"> your password has been set. you may go ahead and <a href="{% url 'account:login' %}">sign in</a></p>
        </div>
    </form>
</div>


