{% extends "Ecommerce/base.html" %}
{% load static %}
{% block content %}

<div class="sub-container">
    {% comment %} <h1>Forgot Password</h1> {% endcomment %}
    <form method="post" action="{% url 'account:registration' %}">
        <div class="form-group">
            <img src="/media/ticklogo.png" alt="Success Image">
            <h5>Reset E-mail sent successfully</h5>
            <p class="email-para">
            You will receive an email with instructions to reset your password
            shortly.
            </p>
        </div>
                
    </form>
</div>


{% endblock %}