{% extends 'admin_dashboard/index.html' %}
{% load static %}

{% block content %}
<link rel="icon" type="image/x-icon" href="/media/company_logo.jpg">
<link rel="stylesheet" href="{% static 'css/add_form.css' %}">
<!-- Load Open Sans font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

{% comment %} <div class="content"> {% endcomment %}
<div class="form-container">
    <div class="form-header">
        <h2>Add {{ model_name }}</h2>
    </div>
        {% comment %} <h2>Add {{model_name}}</h2> {% endcomment %}
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            
           
            <div class="form-fields">
               
                {% for field in form %}
                <div class="input-wrapper">
                  <label>{{ field.label }}</label>
                  {{ field }}
                  {% if field.errors %}
                    
                  {% endif %}
                </div>
              {% endfor %}
              
            </div>
                  
            <div class="button-group">
                <button type="submit" class="btn-primary">Save</button>
                <a href="{% url list %}" class="btn-secondary">Cancel</a>

            </div>
        </form>
    </div>
</div>
{% endblock content %}
