{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jyoti Agro Admin Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" type="image/x-icon" href="/media/company_logo.jpg">

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
           
                {% comment %} <div id="logo"> {% endcomment %}
                    <img id='logo' src="/media/company_logo.jpg" alt="Jyoti Agro Logo">
                {% comment %} </div> {% endcomment %}
            
            {% comment %} <div id="logo">
                <img src="/media/company_logo.jpg" alt="Jyoti Agro" srcset="">
        </div> {% endcomment %}
            <nav>
                <ul>
                    <div class="dashboard">
                        <img src="/media/dashboard_home.png" alt="" srcset="">
                        <a id="text1" href="#">Dashboard</a>

                    </div>

                    <li class="accounts">
                        <span class="accounts_text">Accounts</span>
                        <ul>
                            <li><a href="#">Users</a></li>
                        </ul>
                    </li>

                    <li class="account">
                        <span>Ecommerce</span>
                        <ul>

                            <li><a href="{% url 'Ecommerce:list_brand' %}">Brand</a>
                            </li>
                            <li><a href="{% url 'Ecommerce:category_list' %}">Category</a>
                            </li>
                           
                            <li><a href="{% url 'Ecommerce:product_list' %}">Products</a></li>
                            <li><a href="{% url 'Ecommerce:product_variant_list' %}">ProductVariant</a></li>
                            <li><a href="{% url 'Ecommerce:productbatch_list' %}">Product Batch</a></li>
                            <li><a href="{% url 'Ecommerce:inventory_list' %}">Inventory</a></li>
                            <li><a href="{% url 'Ecommerce:order_list' %}">Orders</a></li>
                            <li><a href="{% url 'Ecommerce:orderitem_list' %}">Order Item</a></li>
                            <li><a href="#">Payment</a></li>
                            <li><a href="{% url 'Ecommerce:deliveryzone_list' %}">Delivery Zone</a></li>
                            <li><a href="#">Reviews</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </li>
                    <li class="account">
                        <span>Membership</span>
                        <ul>
                            <li><a href="{% url 'membership:membership_plan_list' %}">Membership Plan</a></li>
                            <li><a href="{% url 'membership:user_membership' %}">User Membership</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Social Media</span>
                        <ul>
                            <li><a href="#">Comments</a></li>
                            <li><a href="#">Posts</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="settings">
                <li class="dropdown">
                    <a  href="#"><box-icon name='cog'></box-icon>Settings</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Change Password</a></li>
                        
                    </ul>
                </li>
            </div>  
         
        </aside>
        
        <main class="content">
            <header>
                {% if user.is_authenticated %}
               
                <form method="post" action="{% url 'account:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% endif %}
              
            </header>
                <!-- Messages Section -->
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li  class="message {{ message.tags }}">
          {{ message }}
      </li>
      {% endfor %}
  </ul>
  {% endif %}

  
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>

           

            {% comment %}  {% endcomment %}
        </main>
    </div>
</body>

</html>