{% extends 'admin_dashboard/index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="dashboard-container">
    <div class="card border">
        <div class="icon">👤</div>
        <div class="info">
            <a href="{% url 'account:user_list' %}">Users</a>
            
        </div>
    </div>

    <div class="card border">
        <div class="icon">📦</div>
        <div class="info">
            <a href="{% url 'admin_dashboard:order_list' %}">Orders</a>
           
        </div>
    </div>

    <div class="card border">
        <div class="icon">🛒</div>
        <div class="info">
            <a href="{% url 'admin_dashboard:product_list' %}">Products</a>
           
        </div>
    </div>

    <div class="card border">
        <div class="icon">📜</div>
        <div class="info">
            <a href="{% url 'admin_dashboard:productbatch_list' %}">Batches</a>
           
        </div>
    </div>
</div>

<div class='dashboard-container'>
    <div class="card border">
        <div class="icon">📊</div>
        <div class="info">
            <a href="{% url 'admin_dashboard:inventory_list' %}">Inventory</a>
           
        </div>
    </div>

    <div class="card border">
        <div class="icon">🎫</div>
        <div class="info">
            <a href="{% url 'membership:user_membership' %}">Membership</a>
           
        </div>
    </div>

    <div class="card border">
        <div class="icon">📝</div>
        <div class="info">
            <a href="{% url 'socialmedia:post' %}">Posts</a>
            
        </div>
    </div>

    <div class="card border">
        <div class="icon">💰</div>
        <div class="info">
            <a href="{% url 'admin_dashboard:payment_list' %}">Payments</a>
          
        </div>
    </div>
</div>
{% endblock %}
