{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="icon" type="image/x-icon" href="/media/company_logo.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/list_form.css' %}">

<div class="content">
    <section>
        <div class="section-header">
            <div class="field_name"><span>Payment</span></div>
            <form method="post" action="{% url 'admin_dashboard:payment_add' %}">
                {% csrf_token %}
                <button type="submit" class="create-btn">Create New</button>
            </form>
        </div>
    </section>

    <section class="content-body">
        <table class="list-table">
            <thead>
                <tr>
                    <th>Payment Id</th>
                    <th>Payment Status</th>
                    <th>Payment Mode</th>
                    <th>Total Price</th>
                    <th>Razorpay Order ID</th>
                    <th>Razorpay Payment ID</th>
                    <th>Order Id</th>
                    <th>Membership Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in payments %}
                    <tr>
                        <td>{{ obj.payment_id }}</td>
                        <td>{{ obj.payment_status }}</td>
                        <td>{{ obj.payment_mode }}</td>
                        <td>{{ obj.total_price }}</td>
                        <td>{{ obj.razorpay_order_id|default:"-" }}</td>
                        <td>{{ obj.razorpay_payment_id|default:"-" }}</td>
                        <td>{{ obj.order.order_id|default:"-" }}</td>
                        <td>{{ obj.membership.id|default:"-" }}</td>
                        <td>
                            <a href="{% url 'admin_dashboard:payment_view_details' obj.pk %}">View Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
</div>
{% endblock %}
