{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
  <link rel="icon" type="image/x-icon" href="/media/company_logo.jpg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/list_form.css' %}" />

  <div class="content">
    <section>
      <div class="section-header">
        <div class="field_name">
          <span>Post Comment</span>
        </div>
        <p>Post Title: {{ post.title }}</p>
        <p>Post ID: {{ post.post_id }}</p>
        
        {% if post %}
            <form method="post" action="{% url 'socialmedia:post_comment_add' post.post_id %}">
                {% csrf_token %}
                <button type="submit">Add Comment</button>
            </form>
        {% else %}
            <p>No post found.</p>
        {% endif %}
        
    
          
          {% for post in posts %}
            <p>Post Title: {{ post.title }}</p>  
            <p>Post ID: {{ post.post_id }}</p>  

            {% if post.post_id %}
            <form method="post" action="{% url 'socialmedia:post_comment_add' post.post_id %}">
              {% csrf_token %}
              {{ comment_form.as_p }}  <!-- Renders the form -->
              <button type="submit">Add Comment</button>
          </form>
          
            {% endif %}
          {% endfor %}
        {% comment %} {% endif %} {% endcomment %}
      </div>
    </section>

    <section class="content-body">
      <table class="list-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>User</th>
            <th>Post</th>
            <th>Parent Comment Id</th>
            <th>Comment Text</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in post_comment %}
            <tr>
              <td>{{ comment.comment_id }}</td>
              <td>{{ comment.user }}</td>
              <td>{{ comment.post }}</td>
              <td>
                {% if comment.parent_comment %}
                  {{ comment.parent_comment.comment_id }}
                {% else %}
                  None
                {% endif %}
              </td>
              <td>{{ comment.comment_text }}</td>
              <td>
                <a href="{% url 'socialmedia:post_comment_view_details' comment.comment_id %}">View Details</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
