{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="icon" type="image/x-icon" href="/media/company_logo.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/list_form.css' %}">
<div class="content">
    <section>
        <div class="section-header">
            <div class="field_name"><span>User</span></div>
            <form method="post" action="{% url 'account:user_add' %}">
                {% csrf_token %}
                <button type="submit" class="create-btn">Create New</button>
            </form>
        </div>
    </section>

    <section class="content-body">
        <table class="list-table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Profile</th>
                    {% comment %} <th>Staff</th>
                    <th>Superuser</th> {% endcomment %}
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile_number }}</td>
                    <td > {% if user.image %}
                        <img src="/media/account/8bd1a2737efa1ed20648d4e5a6fed6f1_zy3fBxr.jpg" alt="Profile Image" width="100" style="
    width: 50px;
    height: 50px;
    border-radius: 100px;
">
                    {% else %}
                        No Image
                    {% endif %}</td>
                    {% comment %} <td><input type="checkbox" disabled {% if user.is_staff %}checked{% endif %}></td>
                    <td><input type="checkbox" disabled {% if user.is_superuser %}checked{% endif %}></td> {% endcomment %}
                    <td><input type="checkbox" disabled {% if user.is_active %}checked{% endif %}></td>
                    <td>
                        <a href="{% url 'account:user_view_details' user.pk %}">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </section>
</div>


<style>
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .pagination a {
        text-decoration: none;
        color: #3B823E;
        padding: 8px 12px;
        margin: 0 5px;
        border: 1px solid #3B823E;
        border-radius: 5px;
        transition: background 0.3s ease, color 0.3s ease;
        height: 40px;
        width: 100px;
        text-align: center;
    }
    
    .pagination a:hover {
        background: #3B823E;
        color: white;
    }
    
    .pagination span {
        padding: 8px 12px;
        margin: 0 5px;
        font-weight: bold;
        color: #333;
    }
    
</style>
{% endblock %}
