{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="icon" type="image/x-icon" href="/media/company_logo.jpg">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/list_form.css' %}">
<div class="content">
    <section>
        <div class="section-header">
            <div class="field_name"><span>User</span></div>
            <form method="post" action="{% url 'account:user_add' %}">
                {% csrf_token %}
                <button type="submit" class="create-btn">Create New</button>
            </form>
        </div>
    </section>

    <section class="content-body">
        <table class="list-table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Profile</th>
                    <th>Staff</th>
                    <th>Superuser</th>
                    <th>Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.pk }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.mobile_number }}</td>
                    <td > {% if user.image %}
                        <img src="{{  user.image.url }}" alt="Profile Image" width="100">
                    {% else %}
                        No Image
                    {% endif %}</td>
                    <td><input type="checkbox" disabled {% if user.is_staff %}checked{% endif %}></td>
                    <td><input type="checkbox" disabled {% if user.is_superuser %}checked{% endif %}></td>
                    <td><input type="checkbox" disabled {% if user.is_active %}checked{% endif %}></td>
                    <td>
                        <a href="{% url 'account:user_view_details' user.pk %}">View Details</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

{% endblock %}
