{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
<link rel="icon" type="image/x-icon" href="/media/company_logo.jpg">
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/view_details.css' %}">
{% endblock %}
<!-- Load Open Sans font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

<div class="content">
    <section>
        <div class="section-header">
             <div class="field_name"><span>Update {{model_name}}</span></div>
            
        </div>
    </section>
    
    <form method="post" >
        {% csrf_token %}
        <div class="input-group">
           
            {% for field in form %}
            
              <label>{{ field.label }}</label>
              {{ field }}
              {% if field.errors %}
                <!-- Do not display the error messages -->
              {% endif %}
           
          {% endfor %}

     
        <div class="btn-container">
            <button type="submit" class="btn" name="update">Update</button>
           <button type="submit" class="btn" name="delete" onclick="return confirm('Are you sure you want to delete {{model_name}} ?');">
    Delete
</button>
   
            <button type="submit" class="btn" name="cancel">Cancel</button>
           
        </div>
    </form>
    
</div>
{% endblock %}
