{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
  <link rel="icon" type="image/x-icon" href="/media/company_logo.jpg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/list_form.css' %}" />

  <div class="content">
    <section>
      <div class="section-header">
        <div class="field_name">
          <span>Wishlist Item</span>
        </div>

        
        <form method="post" action="{% url 'Ecommerce:wishlist_item_add' %}">
          {% csrf_token %}
          <button type="submit" class="create-btn">Create New</button>
        </form>
      </div>
    </section>

    <section class="content-body">
      <table class="list-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Wishlist</th>
            <th>Product Batch</th>
            <th>Product Variant</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in wishlist_item %}
            <tr>
              <td>{{ obj.pk }}</td>
              <td>{{ obj.wishlist }}</td>
              <td>{{ obj.product_batch }}</td>
              <td>{{ obj.product_variant}}</td>
              <td>
                <a href="{% url 'Ecommerce:wishlist_item_view_details' obj.pk %}">View Details</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
