{% extends 'admin_dashboard/index.html' %}
{% load static %}
{% block content %}
  <link rel="icon" type="image/x-icon" href="/media/company_logo.jpg" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/list_form.css' %}" />

  <div class="content">
    <section>
      <div class="section-header">
        <div class="field_name">
          <span>Wishlist Item</span>
        </div>

        
        <form method="post" action="{% url 'admin_dashboard:wishlist_item_add' %}">
          {% csrf_token %}
          <button type="submit" class="create-btn">Create New</button>
        </form>
      </div>
    </section>

    <section class="content-body">
      <table class="list-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Wishlist</th>
            <th>Product Batch</th>
            <th>Product Variant</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in page_obj %}
            <tr>
              <td>{{ obj.pk }}</td>
              <td>{{ obj.wishlist_id }}</td>
              <td>{{ obj.product_batch }}</td>
              <td>{{ obj.product_variant}}</td>
              <td>
                <a href="{% url 'admin_dashboard:wishlist_item_view_details' obj.pk %}">View Details</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        {% if page_obj.has_previous %}
            {% comment %} <a href="?page=1">First</a> {% endcomment %}
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
    
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}">Last</a> {% endcomment %}
        {% endif %}
    </div>
    </section>
  </div>

  <style>
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 16px;
    }
    
    .pagination a {
        text-decoration: none;
        color: #3B823E;
        padding: 8px 12px;
        margin: 0 5px;
        border: 1px solid #3B823E;
        border-radius: 5px;
        transition: background 0.3s ease, color 0.3s ease;
        height: 40px;
        width: 100px;
        text-align: center;
    }
    
    .pagination a:hover {
        background: #3B823E;
        color: white;
    }
    
    .pagination span {
        padding: 8px 12px;
        margin: 0 5px;
        font-weight: bold;
        color: #333;
    }
    
</style>
{% endblock %}
