

/* thank u page */

.container{
    height: 80vh;
    width:100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 10px 60px;
    background-color: #ffffff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(86, 65, 65, 0.913);
    /* margin-top: 150px; */
}
.btn:hover{
    background-color: #ddd;
    /* font-size: 18px; */
    color: #6fd649;
    /* text-decoration: underline; */
    font-size:25px;
    font-style: normal;
}
.popup{
    width:350px;
    height:300px;
    background-color: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,50%)scale(0.1);
    visibility: hidden;
    text-align: center;
    padding: 0 30px 30px;
    margin: 5px 10px;
    color: #150202;
    box-shadow: 0 5px 15px rgba(65, 45, 45, 0.913);
    transition: transform 0.4s,top 0.4s;
}
.open-popup{
    visibility: visible;
    top:0%;
    transform: translate(-50%,50%)scale(1);

}
/* .close-popup{
    visibility: visible;
    top:0%;
    transform: translate(-50%,50%)scale(1);

} */


.popup img{
    width:100px;
    margin-top: -50%;
    border-radius:50%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.913);
    transform: translate(0%,33%);
}

.b{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    
}

.subcon{
    margin-top:50px;
    display:content;
}
.subcon h2{
    font-size: 38px;
    font-weight: 500;
    margin:30px 0 10px;

}
.subcon button{
    width:47%;
    margin-top:50px;
    margin-right:0;
    padding: 10px 0;
    justify-self: space-evenly;
    position: relative;
    background:#6fd649;
    border:0;
    outline: none;
    font-size: 18px;
    border-radius: 13px;
    cursor:pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.button:hover{
    background-color: rgb(255, 255, 255);
    /* font-size: 18px; */
    color: #37dc00;
    /* text-decoration: underline; */
    font-size:110%;
    font-style: normal;
}
