   /* General Styles */
   body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100%;
}
.section-header {
    
    background-color: white;
    padding:20px;
    
}


.field_name span {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 20px;
}




/* Input Group */
.input-group {
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #000000;
    margin-left: 10px;
}

.input-group input {
    width: 100%;
    padding:5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top:5px;
    margin-left: 10px;
}

/* Button Styles */
.btn-container {
    display: flex;
    justify-content:flex-start;
    gap:100px;
}

.btn {
    background-color: #3B823E;
    color: white;
    border: none;
    padding: 12px 80px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left:  10px;
}

.btn:hover {
    background-color: #3B823E;
}




.messages {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

.message {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


.message.error {
    background-color: #ff0015;
    color: #ffffff;
    border-color: #ff0019;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.message.warning {
    background-color: #fffef9;
    color: #856404;
    border-color: #ffeeba;
}


/* Product view details */


.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-control-file {
    padding: 5px;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

textarea.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-control[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-control-file {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    background-color: #ffffff;
}
.form-control-file::-webkit-file-upload-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3B823E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

