{% extends 'Ecommerce/base.html' %}
{% load static %}
{% block content%}
    <link rel="stylesheet" href="{% static 'css/confirm_order.css' %}">
    
    <div class="confirmation-container">
        <div class="confirmation-box">
            <div class="icon-container">
                <img src="{% static 'images/tick.png' %}" alt="Success" class="success-icon">
            </div>
            <h1>Thank you for Ordering!</h1>
            <p>Your order has been placed successfully.</p>
            <div class="button-container">
                <a href="{% url 'order_details' order.id %}" class="order-button">View Order</a>
                <a href="{% url 'Ecommerce:homepage' %}" class="continue-button">Continue Shopping</a>
            </div>
        </div>
    </div>

{% endblock %}
