{% extends 'Ecommerce/base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'Ecommerce/homebody.css' %}" />

  <section class="hero">
    <div class="sub-hero"></div>
    <div class="sub-cont">
      <div class="header">
        <h2>Jyoti Agro</h2>
        <p>
          Get all of your important agricultural supplies and fertilizers<br />
          seed in one place.
        </p>
        <button>Enquiry</button>
      </div>
      <img src="/media/header.jpg" alt="Home" />
    </div>
  </section>

  <section class="categories">
    <h2 class="category-title">Category</h2>
    <div class="category-list">
        {% for category in categories %}
        <div class="category-item">
            <a href="{% url 'Ecommerce:product_list' category.category_id %}">
                {% if category.category_image %}

                <img src="{{ category.category_image }}" alt="{{ category.category_name }}">
                <h4>{{ category.category_name }}</h4>
                {% else %}
                    <img src="/static/images/default-image.jpg" alt="Default Image" />
                    <h4>{{ category.category_name }}</h4>
                {% endif %}
            </a>
        </div>
        {% empty %}
        <p>No categories available.</p>
        {% endfor %}
      
  </section>


<section class="product-list">
    <h2>Products</h2>

    <div class="products-container">
        {% for product in product_data %}
            <div class="product-card">
                <div class="product-image-container">
                    <img src="{{ product.product_image }}" alt="{{ product.product_name }}">
                    <span class="wishlist-icon"><box-icon name='heart'></box-icon></span>
                </div>
                <div class="product-details">
                    <div class="product-header">
                      <a href="{% url 'Ecommerce:product_view' product.product_id %}">
                        <h3>{{ product.product_name }}</h3>
                    </a>
                       
                    </div>
                    <p class="price">₹{{ product.sales_price|default:"N/A" }}</p>
                    <div class="rating-container">
                        <span class="star-rating">
                            {% if product.rating %}
                                {% for i in "12345" %}
                                    {% if i|add:"0" <= product.rating %}
                                        <box-icon type='solid' name='star' color='#f8b400' size="sm"></box-icon>
                                    {% else %}
                                        <box-icon type='solid' name='star' color='#ddd' size="sm"></box-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="rating">({{ product.rating|floatformat:1 }}/5)</span>
                            {% else %}
                                {% for i in "12345" %}
                                    <box-icon type='solid' name='star' color='#ddd' size="sm"></box-icon>
                                {% endfor %}
                                <span class="rating">(0/5)</span>
                            {% endif %}
                        </span>
                    </div>

                    <a href="{% url 'Ecommerce:add_to_cart' product.product_id %}">
                      <button class="add-to-cart">Add to Cart</button>
                  </a>
                 

                </div>
            </div>
        {% endfor %}
    </div>
</section>


<section class="membership">
  <div class="membership-section">
    <div class="membership-content">
      <h2>Join Our Exclusive Membership</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <ul class="benefits">
        <li>15% Discount</li>
        <li>Free Shipping</li>
        <li>Early Access to Products</li>
      </ul>
      <button class="join-btn" onclick="joinMembership()">Join Now</button>
    </div>
    <div class="membership-image">
      <img src="/media/Rectangle 58.png" alt="Membership">
    </div>
  </div>
</section>

  
  
  {% comment %} FAQ Section {% endcomment %}
  
  <section class="faq">
    <h2>Frequently Asked Questions</h2>
    <div class="box" onclick="toggleFAQ(this)">
      <span>What is Netflix?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Netflix is a streaming service that offers a wide variety of TV shows, movies, anime, documentaries, and more.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>How much does Netflix cost?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Netflix offers different plans starting at a basic monthly fee.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>Where can I watch?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">You can watch Netflix on various devices, including smartphones, tablets, smart TVs, and gaming consoles.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>How do I cancel?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">You can cancel your subscription at any time from your account settings.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>What can I watch on Netflix?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Netflix has a vast library of content, including movies, TV series, and exclusive originals.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
        <span>Is Netflix good for kids?</span>
        <box-icon name='chevron-down'></box-icon>
      </div>
      <div class="answer">Yes, Netflix provides a Kids section with age-appropriate content and parental controls.</div>
    </section>
    
    
    
    <script src="{% static 'js/cart.js' %}"></script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {   
        // Handle FAQ Section
        const faqItems = document.querySelectorAll('.faq-item')
        
        faqItems.forEach((item) => {
          item.addEventListener('click', () => {
            const answer = item.querySelector('.faq-answer')
            answer.classList.toggle('visible')
        })
      })
    
      // Handle Add to Cart Buttons
      const cartButtons = document.querySelectorAll('.add-to-cart')
    
     // cartButtons.forEach((button) => {
     //   button.addEventListener('click', () => {
     //     alert('Product added to cart!')
     //   })
     // })
    //})
    function toggleFAQ(element) {
      let answer = element.nextElementSibling;
      let icon = element.querySelector('box-icon');
      
      if (answer.style.display === "block") {
          answer.style.display = "none";
          element.classList.remove("active");
          icon.setAttribute('name', 'chevron-down');
      } else {
          document.querySelectorAll(".answer").forEach(a => a.style.display = "none");
          document.querySelectorAll(".box").forEach(b => b.classList.remove("active"));
          
          answer.style.display = "block";
          element.classList.add("active");
          icon.setAttribute('name', 'chevron-up');
      }
  }
  </script>
{% endblock %}
