{% extends 'Ecommerce/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'Ecommerce/homepage.css' %}" >
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<section class="hero">
    <div class="sub-hero"></div>
    <div class="sub-cont">
      <div class="header">
        <h2>Jyoti Agro</h2>
        <p>
          Get all of your important agricultural supplies and fertilizers<br />
          seed in one place.
        </p>
        <button>Enquiry</button>
      </div>
      <img src="/media/header.jpg" alt="Home" />
    </div>
</section>




<section class="categories">
    <h2 class="category-title">Category</h2>
    <div class="category-container">
      {% for category in categories %}
        <div class="category-box">
          <a href="{% url 'Ecommerce:product_list' category.category_id %}">
            {% if category.category_image %}
                  <img src="{{ category.category_image }}" alt="{{ category.category_name }}">
            {% else %}
                  <img src="/static/images/default-image.jpg" alt="Default Image">
            {% endif %}
            <h3>{{ category.category_name }}</h3>
            
          </a>
        </div>
      {% empty %}
        <p>No categories available.</p>
      {% endfor %}
  </div>

</section>





<section class="product-list">
    <h2>Products</h2>

    <div class="products-container">
        {% for product in product_data %}
            <div class="product-card">
                <div class="product-image-container">
                    <img src="{{ product.product_image }}" alt="{{ product.product_name }}">
                    <a href="{% url 'Ecommerce:add_to_wishlist' product.variant.variant_id %}" class="wishlist-icon">
                      {% if product.variant_id in wishlist_product_ids %}
                          <box-icon type='solid' name='heart' color='red'></box-icon>
                      {% else %}
                          <box-icon name='heart'></box-icon>
                      {% endif %}
                  </a>
                </div>
                <div class="product-details">
                    <div class="product-header">
                      <a href="{% url 'Ecommerce:product_view' product.product_id %}">
                        <h4>{{ product.product_name }}</h4>
                    </a>
                       
                    </div>
                    <!-- Display Only One Variant -->
                    {% if product.variant %}
                        <div>
                            <p class="price">
                                <span>₹{{ product.sales_price }}</span> | 
                                <span>{{ product.variant.units }}</span>
                            </p>
                        </div>
                    {% endif %}
                  
                     <div class="rating-container">
                        <span class="star-rating">
                            {% if product.rating %}
                                {% for i in "12345" %}
                                    {% if i|add:"0" <= product.rating %}
                                        <box-icon type='solid' name='star' color='#f8b400' size="sm"></box-icon>
                                    {% else %}
                                        <box-icon type='solid' name='star' color='#ddd' size="sm"></box-icon>
                                    {% endif %}
                                {% endfor %}
                                <span class="rating">({{ product.rating|floatformat:1 }}/5)</span>
                            {% else %}
                                {% for i in "12345" %}
                                    <box-icon type='solid' name='star' color='#ddd' size="sm"></box-icon>
                                {% endfor %}
                                <span class="rating">(0/5)</span>
                            {% endif %}
                        </span>
                    </div> 

                    {% if product.inventory_quantity > 0 %}
                    {% if product.variant.variant_id in cart_product_variant_ids %} 
                        <a href="{% url 'Ecommerce:cart_view' %}" class="add-to-cart">
                            <button class="add-to-cart">Go to Cart</button>
                        </a>
                    {% else %}
                        <a href="{% url 'Ecommerce:add_to_cart' product.variant.variant_id %}" class="add-to-cart">
                            <button class="add-to-cart">Add to Cart</button>
                        </a>
                    {% endif %}
                {% else %}
                    <button class="add-to-cart">Out of Stock</button>
                {% endif %}
                
                 

                </div>
            </div>
        {% endfor %}

        
    </div>
</section>


<section class="membership">
  <div class="membership-section">
    <div class="membership-content">
      <h2>Join Our Exclusive Membership</h2>
      <p>Our Gold Membership plan offers exclusive benefits, including discounts and free shipping on all purchases.</p>
      <ul class="benefits">
        <li>15% Discount</li>
        <li>Free Shipping</li>
        <li>Early Access to Products</li>
      </ul>
      <a href="{% url "membership:membership_gold" %}"><button class="join-btn" onclick="joinMembership()">Join Now</button></a>
    </div>
    <div class="membership-image">
      <img src="/media/Rectangle 58.png" alt="Membership">
    </div>
  </div>
</section>


  
  
  {% comment %} FAQ Section {% endcomment %}
  
<section class="faq">
    <h2>Frequently Asked Questions</h2>
    <div class="box" onclick="toggleFAQ(this)">
      <span>What products does Jyoti Agro sell?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Jyoti Agro offers a wide range of agricultural products, including high-quality seeds, organic and chemical fertilizers, pesticides, and plant growth boosters.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>How can I place an order?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">You can browse our online store, add products to your cart, and proceed to checkout. We support both online payments and Cash on Delivery (COD).</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>How long does delivery take?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Delivery times depend on your location. Typically, orders are delivered within 3-7 business days.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
      <span>Can I track my order?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Yes, once your order is placed. you can check it from order detail section</div>
    
    {% comment %} <div class="box" onclick="toggleFAQ(this)">
      <span>Are your seeds and fertilizers organic?</span>
      <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">We offer both organic and non-organic options. You can find product details on each listing.</div>
    
    <div class="box" onclick="toggleFAQ(this)">
        <span>How can I contact customer support?</span>
        <box-icon name='chevron-down'></box-icon>
    </div> {% endcomment %}
    <div class="answer">You can reach us via:
      📧 Email: support@jyotiagro.com
      📞 Phone: +91 XXXXXXXXXX</div>
    <div class="box" onclick="toggleFAQ(this)">
        <span> Do you offer farming information?</span>
        <box-icon name='chevron-down'></box-icon>
    </div>
    <div class="answer">Yes! Our crop information section provide free guidance on seed, soil health, and crop care.</div>
  </section>
    
  <script>
    document.addEventListener('DOMContentLoaded', function () {   
        function toggleFAQ(element) {
            let answer = element.nextElementSibling;
            let icon = element.querySelector('box-icon');
    
            // Check if the current FAQ is already open
            let isOpen = answer.style.display === "block";
    
            // Close all FAQs
            document.querySelectorAll(".answer").forEach(a => a.style.display = "none");
            document.querySelectorAll(".box").forEach(b => b.classList.remove("active"));
            document.querySelectorAll("box-icon").forEach(i => i.setAttribute('name', 'chevron-down'));
    
            // If it was not open, open it
            if (!isOpen) {
                answer.style.display = "block";
                element.classList.add("active");
                icon.setAttribute('name', 'chevron-up');
            }
        }
    
        document.querySelectorAll(".box").forEach(box => {
            box.addEventListener("click", function () {
                toggleFAQ(this);
            });
        });
    });
    </script>
    
    

{% endblock %}