{% extends 'Ecommerce/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/order_detail.css' %}" />

<div class="order-container">
    <header>
        <h5>Order Details &bull; <span>{{ order.create_at|date:"F d, Y" }}</span> &bull; <span>{{ total_products }} Product/s</span></h5>

        {% comment %} <a href="{% url 'order_list' %}" class="back">Back to List</a> {% endcomment %}
    </header>

    <div class="box">
        <div class="order-info">
            <div class="shipping-address">
                <h4>SHIPPING ADDRESS</h4>
                <p class="customer-name">{{ order.user.username|capfirst }}</p>
                <p class="address">{{ order.address }}, {{ order.city }}, {{ order.state }}</p>
                
                <div class="contact-info">
                    <p class="label">EMAIL</p>
                    <p class="email">{{ order.user.email }}</p>

                    <p class="label">PHONE</p>
                    <p class="phone">{{ order.user.mobile_number }}</p>
                </div>
            </div>
        </div>

        <div class="order-summary">
            <div class="order-header">
                <p class="order-id"><strong>ORDER ID:</strong> <span>#{{ order.order_id }}</span></p>
                <p class="payment-method"><strong>PAYMENT METHOD:</strong> <span>{{ order.payment.payment_mode|title }}</span></p>
            </div>

            <hr>

            <p class="order-status"><strong>Order Status :</strong> <span>{{ order.order_status|title }}</span></p>
            <div class="price-details">
                <p><strong>Subtotal:</strong> <span>₹{{ order.total_price }}</span></p>
                <p><strong>Discount:</strong> <span>{{ order.discounted_price|floatformat:2 }}</span></p>
                <p><strong>Shipping:</strong> <span>{% if order.delivery_charges == 0 %} Free {% else %} ₹{{ order.delivery_charges }} {% endif %}</span></p>
            </div>

            <hr>

            <p class="total"><strong>Total:</strong> <span>₹{{ order.total_price|floatformat:2 }}</span></p>
        </div>
    </div>

    <table class="order-table">
        <thead>
            <tr>
                <th>PRODUCT</th>
                <th>PRICE</th>
                <th>QUANTITY</th>
                <th>SUBTOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
            <tr>
                <td>
                    <div class="product-info">
                        <img src="{{ item.variant.product.product_image.url }}" alt="{{ item.variant.product.product_name }}">
                        <span>{{ item.variant.name }}</span>
                    </div>
                </td>
                <td>₹{{ item.price }}</td>
                <td>x{{ item.quantity }}</td>
                <td>₹{{ item.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
