{% extends "Ecommerce/base.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'Ecommerce/cart.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="cart-container">
    <div class="cart-header">
        {% if wishlist_items %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in wishlist_items %}
                <tr data-wishlist-item="{{ item.wishlist_item_id }}">
                    <td>
                        <a href="{% url 'Ecommerce:product_view' item.product_variant.product.product_id %}">
                            <img src="{{ item.product_variant.product.product_image.url }}" 
                                alt="{{ item.product_variant.product.product_name }}" 
                                class="cart-product-image">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'Ecommerce:product_view' item.product_variant.product.product_id %}">
                            {{ item.product_variant.product.product_name }}
                        </a>
                    </td>
                    <td>
                        <p class="price"><span class="price-display">{{ item.variant_units }}</span></p>
                    </td>
                    <td>
                        <p class="price">₹<span class="price-display">{{ item.variant_price }}</span></p>
                    </td>
                    <td>
                        <div class="button-container">
                            <a href="{% url 'Ecommerce:remove_from_wishlist' item.id %}">
                                <button class="remove-wishlist">
                                    <i class="fa-solid fa-trash-can"></i> 
                                </button>
                            </a>
                    
                            <a href="{% url 'Ecommerce:add_to_cart' item.product_variant.product.product_id %}">
                                <button class="add-to-cart-btn">
                                    <i class="fa-solid fa-cart-shopping"></i> 
                                </button>
                            </a>
                        </div>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="cart-footer back-btn">
        <a href="{% url 'Ecommerce:homepage' %}" class="back">Back to Home</a>
    </div>

    {% else %}
    <p class="empty-cart-message">Your wishlist is empty.</p>
    <div class="cart-footer back-btn">
        <a href="{% url 'Ecommerce:homepage' %}" class="back">Back to Home</a>
    </div>
    {% endif %}
</div>

{% endblock %}
